In [2]:
import pandas as pd
df=pd.read_csv("D:\student_info.csv",nrows=15)
df  # reads first 15 rows (i.e. from 0 to 14)

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Naga-Meena-Sabari\AppData\Local\Temp\ipykernel_2428\1375410623.py:2: SyntaxWarning: invalid escape sequence '\s'
  df=pd.read_csv("D:\student_info.csv",nrows=15)

,student_id,name,gender,age,grade_level,math_score,reading_score,writing_score,attendance_rate,parent_education,study_hours,internet_access,lunch_type,extra_activities,final_result
0,S1,Student_1,Other,17,10,74,61,90,94.660002,Master's,4.120192,Yes,Free or reduced,Yes,Fail
1,S2,Student_2,Male,17,12,99,70,91,93.173227,Bachelor's,2.886505,No,Free or reduced,No,Pass
2,S3,Student_3,Other,17,9,59,60,99,98.631098,PhD,1.909926,No,Free or reduced,No,Fail
3,S4,Student_4,Other,17,12,70,88,69,96.419620,PhD,1.664740,No,Standard,No,Pass
4,S5,Student_5,Male,15,9,85,77,94,91.332105,PhD,2.330918,Yes,Free or reduced,No,Pass
5,S6,Student_6,Male,17,11,61,54,89,93.140610,Master's,4.759697,No,Free or reduced,Yes,Fail
6,S7,Student_7,Other,16,9,76,66,88,97.967729,Bachelor's,2.372107,Yes,Free or reduced,No,Pass
7,S8,Student_8,Female,16,11,89,69,98,87.990376,PhD,4.952496,No,Standard,Yes,Pass
8,S9,Student_9,Other,17,12,51,90,72,86.535894,High School,2.940922,No,Standard,No,Pass
9,S10,Student_10,Other,17,11,62,95,96,80.216222,Bachelor's,1.716656,Yes,Standard,Yes,Fail
10,S11,Student_11,Other,16,12,81,61,81,96.531021,High School,4.564560,Yes,Free or reduced,Yes,Pass
11,S12,Student_12,Other,16,10,80,55,96,96.019614,High School,2.841421,No,Free or reduced,Yes,Pass
12,S13,Student_13,Male,15,10,65,66,82,82.089090,PhD,3.838685,No,Free or reduced,Yes,Pass
13,S14,Student_14,Other,16,10,81,68,95,91.537148,PhD,4.934846,Yes,Standard,Yes,Fail
14,S15,Student_15,Female,16,11,81,75,54,89.279634,Master's,1.200701,No,Free or reduced,No,Fail